<div class="start-week-container">
    <label>Start Week</label>
    <form [formGroup]="form">
        <label for="sun">Sun</label>
        <input formControlName="startWeek" [value]="1" id="sun" type="radio" />
        <label for="mon">Mon</label>
        <input formControlName="startWeek" [value]="0" id="mon" type="radio" />
    </form>
</div>
<app-date-picker [startWeek]="startWeek" (selectedDate)="selectDate($event)">
</app-date-picker>
<div class="selected-date" *ngIf="date">
    <div>Selected Date</div>
    <div class="date">{{date | date}}</div>
</div>